.my-footer-style {
  border-top: 2px solid yellow;
  background: rgb(82, 77, 77);
  .us-address {
    color: white;
    margin: 20px 0;
    .logo {
      max-width: 250px;
    }
  }
  .contact-us {
    color: white;
    img {
      margin: 5px 0;
    }
    p {
      margin: 2px;
    }
  }
}
